.resume-link {
  font-weight: 600;
  font-size: 18px;
  color: #121212;
  text-decoration: none;
  margin-right: 10px;
}

.resume-link:hover {
  color: #636363;
}

.resume-icon {
  display: inline-block;
  margin-right: 5px;
}

.skills-heading {
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}


.resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skill-technologies{
  display: flex;
}

.skills, .technologies {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
